@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

header {
    width: 100%;
    height: 80px;
    background-color:red;
}

.main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation-name: main-color-change;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.main-page-right,
.main-page-left {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P';
    color: white;
    position: relative;
    margin-top: 9px;
    font-size: 30px;
}   

.main-page-left h2 {
    opacity: 0;
    font-size: 45px;
    margin-bottom: 5px;
    animation-name: animation-opacity;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.main-page-left p {
    opacity: 0;
    margin-top: 9px;
    font-size: 30px;
    animation-name: animation-opacity;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.vertical-line{
    width: 5px;
    height: 0%;
    background-color: #2047f5;
    border-radius: 50%;
    box-shadow: 0 0 1em rgba(0, 0, 0, .2);
    animation-name: show-vertical-line;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.horizontal-line {
    width: 0;
    height: 5px;
    background-color: #2047f5;
    box-shadow: 0 0 1em rgba(0, 0, 0, .4);
    animation-name: show-horizontal-line;
    animation-delay: 1.1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.kurisu {
    background-image: url("./images/glentgm-kurisu-giant.gif");
}

.plane {
    background-image: url("./images/glentgm-aviao-caindo-semcolab.gif");
}

.portrait {
    background-image: url("./images/glentgm-2.gif");
}

.hikaru {
    background-image: url("./images/glentgm-sprite-grande.jpg");
}

.laroca {
    background-image: url("./images/glentgm-negocio.jpg");
}

.flip-face {
    width: 100%;
    height: 100%;
    transform: rotateY(90deg);
    border-radius: 30px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation-name: rotator-back;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction:alternate;
}

.icons {
    margin-top: 30px;
}

.icons img {
    width: 50px;
    width: 50px;
}

.social-icons :nth-child(1) {
    opacity: 0;
    border-radius: 50%;
    animation-name: animation-opacity;
    animation-delay: 1.1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.social-icons :nth-child(2) {
    opacity: 0;
    animation-name: animation-opacity;
    animation-delay: 1.6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.social-icons :nth-child(3) {
    opacity: 0;
    animation-name: animation-opacity;
    animation-delay: 2.1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.discord-info img {
    opacity: 0;
    width: 50px;
    width: 50px;
    position: absolute;
    left: 50px;
    animation-name: teste;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.discord-info h3 {
    color: white;
    margin-top: 15px;
}

.discord-info {
    margin-top: 15px;
    margin-left: 50px;
    position: relative;
}

@keyframes rotator-back {
    to {
        transform: rotateY(0deg);
    }
}

@keyframes show-vertical-line {
    to {
        height: 80%;
    }
}

@keyframes show-horizontal-line {
    to {
        width: 390px;
    }
}

@keyframes animation-opacity {
    to {
        opacity: 100%;
    }
}

@keyframes main-color-change {
    to {
        background-color: black;
    }
}

@keyframes teste {
    to {
        left: -55px;
        opacity: 100%;
    }
}

@media (max-width: 614px){
    .main-page {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .flip-face{
        border-radius: 0;
    }

    .vertical-line{
        display: none;
    }
    
    .main-page-right,
    .main-page-left {
        width: 100%;
        height: 50%;
        margin-top: 0px;
    }
    .discord-info h3 {
        margin-top: 0;
    }
    
    .discord-info {
        margin-top: 40px;
        margin-left: 0;
        margin-left: 40px;
    }

    .discord-info h3 {
        font-size: 22px;
        margin-top: 20px;
    }
    
    @keyframes show-horizontal-line {
        to {
            width: 100vw;
        }
    }

    .main-page-left h2 {
        animation-delay: .5s;
    }
    
    .main-page-left p {
        font-size: 28px;
        animation-delay: 1.5s;
    }

    .social-icons :nth-child(1) {
        animation-delay: 2.1s;
    }
    
    .social-icons :nth-child(2) {
        animation-delay: 2.6s;
    }
    
    .social-icons :nth-child(3) {
        animation-delay: 3.1s;
    }
    .discord-info img {
        animation-delay: 3.5s;
    }
    
}
