@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

header {
    width: 100%;
    height: 80px;
    background-color: red;
}

.main-page {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-page-right,
.main-page-left {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P';
    color: white;
    position: relative;
    margin-top: 9px;
    font-size: 30px;
}   

.main-page-left h2 {
    opacity: 0;
    font-size: 45px;
    margin-bottom: 5px;
    animation-name: animation-opacity;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.main-page-left p {
    opacity: 0;
    margin-top: 9px;
    font-size: 30px;
    animation-name: animation-opacity;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.vertical-line{
    width: 5px;
    height: 0%;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 1em rgba(0, 0, 0, .2);
    animation-name: show-vertical-line;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.horizontal-line {
    width: 0;
    height: 5px;
    background-color: red;
    box-shadow: 0 0 1em rgba(0, 0, 0, .4);
    animation-name: show-horizontal-line;
    animation-delay: 1.1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.kurisu {
    background-image: url("../public/images/glentgm-kurisu-giant.gif");
}

.plane {
    background-image: url("../public/images/glentgm-aviao-caindo-semcolab.gif");
}

.portrait {
    background-image: url("../public/images/glentgm-2.gif");
}

.hikaru {
    background-image: url("../public/images/glentgm-sprite-grande.jpg");
}

.laroca {
    background-image: url("../public/images/glentgm-negocio.jpg");
}

.flip-face {
    width: 100%;
    height: 100%;
    transform: rotateY(90deg);
    border-radius: 30px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation-name: rotator-back;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction:alternate;
}


@keyframes rotator-back {
    to {
        transform: rotateY(0deg);
    }
}

@keyframes show-vertical-line {
    to {
        height: 80%;
    }
}

@keyframes show-horizontal-line {
    to {
        width: 390px;
    }
}

@keyframes animation-opacity {
    to {
        opacity: 100%;
    }
}